@font-face {
  font-family: "digital";
  src: url("../assets/fonts/DS-DIGIB.TTF");
}

body {
  background-image: url("../assets/404-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

p {
  font-family: digital;
  color: yellow;
}

.parent {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 70% 12% 1fr 10%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.div1 {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
}

.div2 {
  grid-area: 3 / 2 / 4 / 3;
  justify-self: center;
  align-self: start;
}

.div1 > p {
  font-size: 4em;
}

.div2 > p {
  font-size: 2em;
}

@media only screen and (max-width: 850px) {
  body {
    background-image: url("../assets/404-mobile.png");
  }

  .parent {
    grid-template-rows: 70% 15% 1fr 10%;
  }

  .div1 > p {
    font-size: 1.8em;
  }

  .div2 > p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1150px) {
  body {
    background-image: url("../assets/404-tablet.png");
  }
}

@media only screen and (min-width: 850px) {
  .parent {
    grid-template-rows: 70% 15% 1fr 10%;
  }

  .div1 > p {
    font-size: 2.8em;
  }

  .div2 > p {
    font-size: 2em;
  }
}

@media only screen and (orientation: landscape) and (max-height: 450px) {
  body {
    background-image: url("../assets/404-landscape.png");
  }

  .parent {
    grid-template-rows: 70% 15% 1fr 10%;
  }

  .div1 > p {
    font-size: 1.5em;
  }

  .div2 > p {
    font-size: 1em;
  }
}
